.noShowButton {
  display: none
}

.dms__list-item--delete-container {
  position: relative;
}

.deleteDM__button {
  border: none;
  background-color: transparent;
  font-weight: 800;
  cursor: pointer;
  position: absolute;
  right: 0em;
  top: .15em;
  transition: 0.2s;
}
