.delete__DMButton--container {
  border: red 2px solid;
  width: 15em;
}

.noShowButton {
  display: none
}

.dms__list-item--delete-container {
  /* border: red 2px solid; */
  position: relative;
}

.deleteDM__button {
  border: none;
  background-color: transparent;
  font-weight: 800;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: -1em;
  transition: 0.2s
  /* margin-right: 3em; */
}

.deleteDM__button:hover {
  background-color: #ffda08
}