.dm__icon--search {
  width: 2.5em;
  margin: .25em;
  margin-right: 1em;
  background-size: cover;
  background-position: center;
  border-radius: .25em;
}

.dm__icon--search::after{
  display: block;
  padding-top: 100%;
  content: '';
}

.default-pro-nav {
  background-color: green;
  padding: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: .5px solid transparent;
  height: 40px;
  width: 45px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  }
