# No need for DATABASE_URL to be set if developing from within a devcontainer

FLASK_APP=app
FLASK_ENV=development
SECRET_KEY=12080153d7377f4111bc6a3feabb54b2
DATABASE_URL=postgresql://slick_app:password@localhost/slick_app_db
