.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #f91690;
  max-height: 3em;
  min-height: 3em;
}

.container-full-search {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input-search-bar-field {
  height: 26px;
  width: 700px;
  text-align: center;
  position: relative;
}

.container-search-result {
  text-align: center;
  width: 700px;
  position: absolute;
  margin-top: 26px;
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: lightgrey;
  z-index: 5;
  /* overflow: auto; */
}

.filtered-list-nav-search {
  height: 200px;
  padding-top: 10px;
}

.nav-search-results {
  height: 30px;
  width: 400px;
  font-size: 17px;
  margin-top: 5px;
  border: none;
  transition: background-color, cursor .5s;
}

.nav-search-results:hover {
  background-color: darkgray;
  cursor: pointer;
}

.slick-logo {
  width:3em;
  height:2.6em;
  object-fit: contain;
  margin-left: 0.6em;
}

