.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #f91690;
  max-height: 3em;
  min-height: 3em;
}

.container-full-search {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input-search-bar-field {
  height: 26px;
  width: 30em;
  text-align: center;
  position: relative;
  padding: 1em;
  border-radius: .5em;
  background-color: #f866b4;
  color: white;
  font-weight: bold;
  border: 1px solid rgb(46, 46, 46);
}

.input-search-bar-field:focus {
  color: white;
  outline: none;
}

.input-search-bar-field::-webkit-input-placeholder {
  color: white;
  font-weight: bold;
}

.container-search-result {
  text-align: center;
  border: #E2E2E2 1px solid;
  width: 25em;
  position: absolute;
  top: 1.8em;
  padding: 1em 0;
  background-color: white;
  box-shadow: 0 3px 7px rgba(33,33,33,.2);
  border-radius: .5em;
  z-index: 5;
}

.filtered-list-nav-search {
  height: 200px;
  padding-top: 10px;
}

.no__users--text {
  color: black;
}

.nav-search-results {
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
  background-color: white;
  padding: .5em 0;
  width: 100%;
  font-weight: bold;
}

.nav-search-results:hover {
  cursor: pointer;
  background-color:#E2E2E2;
}

.search__icon--name {
  display: flex;
  align-items: center;
  padding: 0 1em;
  position: relative;
}

.slick-logo {
  width:3em;
  height:2.6em;
  object-fit: contain;
  margin-left: 3em;
}

.slick-logo2 {
  width:3em;
  height:2.6em;
  object-fit: contain;
  margin-left: 3em;
}