.channels__header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button__create-channel {
  background-color: transparent;
  border: transparent;
  padding: .25em;
  border-radius: .5em;
  /* color: transparent; */
}

.button__create-channel:hover {
  background-color: #FFEE40;
  display: block;
  color: black;
  cursor: pointer;
}