.user__channels-display {
  position: relative;
  width: 100%;
}

.main-channels__header-container {
  font-size: 15px;
  font-family: Slack-Lato,Slack-Fractions,appleLogo,sans-serif;;
}

.channels__header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .5em;
  top: 0;
}

.channels__header-right {
  display: flex;
  align-items: center;
  padding: .2em;
}

.arrow__dropdown {
  padding: .1em;
  border-radius: .15em;
  cursor: pointer;
  margin-right: .15em;
}

.arrow__dropdown:hover {
  background-color: rgb(168, 168, 168);
}

.channels__header-text {
  white-space: nowrap;
  font-size: 15px;
  margin: .25em 0;
  font-family: sans-serif;
  cursor: pointer;
}

.button__create-channel--hidden {
  display: none;
}

.button__create-channel {
  background-color: transparent;
  border: transparent;
  border-radius: 1em;
  transition: 0.2s;
}

.button__create-channel:hover {
  background-color: #FFEE40;
  display: block;
  color: black;
  cursor: pointer;
}

.one-channel-container {
  min-width: 100%;
  display: inline-flex;
  padding: .25em;
  padding-left: 1em;
}

.one-channel-container:hover {
  background-color: #FFEE40;
  width: 100%;
  text-shadow: 1px 0 0 currentColor;
}

.blue {
  display: inline-flex;
  align-items: center;
  height: 35px;
  width: 370px;
  margin-left: -33px;
  padding-left: 33px;
  min-width: 100%;
  pointer-events: none;
}

.hashtag-channels {
  display: flex;
  align-items: center;
}

.hashtag__icon {
  margin-right: .5em;
}