.main-display {
  display: grid;
  grid-template-columns: 1fr 3fr;
  position: absolute;
  top: 3em; /* Header Height */
  bottom: 0; /* Footer Height */
  width: 100%;
  overflow: hidden;
}

.main-display__sidebar {
  background-color: #f2f2f2;
  max-width: 20em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em;
}

.main-display__chatbox {

}
