.main-display {
  display: grid;
  grid-template-columns: 1fr 4fr;
  position: absolute;
  top: 3em; /* Header Height */
  bottom: 0; /* Footer Height */
  width: 100%;
  overflow: hidden;
}

.main-display__sidebar {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* padding: 1em; */
  /* max-width: 260px; */
  overflow-x: hidden;
  z-index: 2;
}

/* .main-display__chatbox {
  margin-left: -28px;
} */

@media screen and ( min-width: 1600px ){
  .main-display {
    display: grid;
    grid-template-columns: 1fr 5fr;
  }
}
