.dm__icon {
  width: 1.5em;
  margin: .25em;
  background-size: cover;
  background-position: center;
  border-radius: .25em;
  background-color: aquamarine;
}

.dm__icon::after{
  display: block;
  padding-top: 100%;
  content: '';
}