/* TODO Add site wide styles */

*, *:before, *:after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  /* padding: 0 */
}

.chatbox-messages {
  overflow: hidden;
}

.main-display__sidebar{
  overflow: auto;
}

ul {
  padding-inline-start: 0px;
  list-style: none;
}
