/* TODO Add site wide styles */

*, *:before, *:after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  /* padding: 0 */
}

a {
  text-decoration: none;
  color: inherit;
}
.chatbox-messages {
  overflow: hidden;
}

.main-display__sidebar{
  overflow: auto;
}

ul {
  padding-inline-start: 0px;
  list-style: none;
}

.error__text {
  color: rgb(245, 83, 83);
  font-weight: bold;
}

.loader__wrapper {
  display: flex;
  width: 100%;
  height: 80vh;
  justify-content: center;
  align-items: center;
  position: relative;
}

.loader__content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.loader__header {
  font-size: 3em;
  margin: .5em;
}

.loader__subheader {
  font-size: 1.25em;
  font-style: italic;
}

.loader__loader {
  margin: 2em;
}

.error__container {
  background-color: rgba(245, 83, 83, .2);
  padding: .5em;
  max-width: 24em;
  border-radius: .5em;
  display: table;
  margin: 0 auto;
}

.no__display {
  display: hidden;
}

.try button {
  color: black
}

.btn__disabled {
  color: rgb(231, 231, 231);
  border: 1px solid #CBCBCB;
  font-weight: bold;
  background-color: #CBCBCB;
}

.default-profile {
  background-color: green;
  padding: 8px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: .5px solid white;
  height: 40px;
  width: 35px;
  margin-right: 10px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}

.default-search {
  margin-right: 0px;
}
