/* TODO Add site wide styles */

*, *:before, *:after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  /* padding: 0 */
}

.chatbox-messages {
  overflow: hidden;
}

.main-display__sidebar{
  overflow: auto;
}

ul {
  padding-inline-start: 0px;
  list-style: none;
}

.error__text {
  color: rgb(245, 83, 83);
  font-weight: bold;
}

.error__container {
  background-color: rgba(245, 83, 83, .2);
  padding: .5em;
  max-width: 24em;
  border-radius: .5em;
  display: table;
  margin: 0 auto;
}

.no__display {
  display: hidden;
}