.container-signup-profile-img {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.hide-profile-img-btn {
    font-size: 18px;
    height: 35px;
    width: 100px;
    border-radius: 5px;
    margin-top: 5px;
    font-style: italic;
    background-color: #4a154b;
    color: white;
    font-weight: bold;
}

.signup-profile-img {
    height: 5em;
    width: 5em;
    margin: .75em;
    border-radius: 50%;
}

.signup-profile-img:hover {
    border: 5px solid #15D4FF;
    cursor: pointer;
  }

.picked__img {
  border: 5px solid #15D4FF;
}

/* aws profile img */
.profile-img-container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.img-btn-container {
  margin-top: 10px;
}

.check-icon {
  height: 30px;
  width: 30px;
}

.sign__up-text {
  padding: .25em;
  border-radius: .25em;
  transition: .2s;
}

.sign__up-text:hover {
  background: rgb(228, 228, 228);
}

.upload-profile-img {
  border: 1px solid white;
  font-size: 18px;
  color: black;
  font-weight: bold;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
  background-color: gold;
  margin-top: 10px;
  filter: brightness(1.0);
  transition: .5s;
}

.upload-profile-img:hover {
  cursor: pointer;
  filter: brightness(0.7);
}

.profile-loading {
  font-weight: bold;
}
