.about__links--container {
  display: flex;
  justify-content: center;
  bottom: 0em;
  left: 0;
  margin-top: 5em;
  width: 100%;
}

.about__links--text {
  margin: 1em 3em 2em;
  color: grey;
  text-decoration: none;
  transition: 0.2s;
}

.about__links--text:hover {
  text-shadow: 0 0 1px grey;
}