.about__links--container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.about__links--text {
  margin: 1em 3em 2em;
  color: rgb(51, 51, 51);
  text-decoration: none;
  transition: 0.2s;
  display: flex;
  padding: .25em;
  border-radius: .25em;
}

.about__links--text:hover {
  background-color: rgb(235, 235, 235);
}

.github__icon {
  margin: 0 .25em;
}
