.dm-blue {
    display: inline-flex;
    pointer-events: none;
    color: white;
    transition: 0.1;
    text-shadow: 1px 0 0 currentColor;
    background-color: #15D4FF;
    width: 100%;
}

@media screen and (max-width: 1300px) {
    .dm-blue {
      /* max-width: 100%; */
      /* margin-left: -33px;
      padding-left: 33px; */
    }
  }
