.navbar__profile {
  margin-right: 8em;
}

.navbar__dropdown {
  text-align: center;
  position: absolute;
  right: 9em;
  top: 3.5em;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 1em;
  padding: 2em;
}

.navbar__dropdown--text {
  color: black;
  padding: .25em;
}

.drop-down-menu-box {
  padding: 5px 0px 5px 0px;
}
