.modal__form-container {
  padding: 3em;
  border-radius: 1em;
  position: relative;
  width: 450px;
  text-align: center;
  min-height: 20em;
}

.modal__form-container div {
  padding: .25em;
}

.modal__form-container input, textarea {
  padding: .5em;
  border-radius: .75em;
  outline: none;
  border: 1px solid #D4D4D4;
  width: 90%;
}

.modal__form-container button:not(.add-members-btn, .remove-one-member-btn) {
  padding: .75em;
  border-radius: .75em;
  color: white;
  background-color: #FF4FCA;
  transition: 0.3s;
  border: transparent;
  margin: 1em;
}

.modal__form-container button:hover:not(.add-members-btn, .remove-one-member-btn) {
  background-color: #FF197E;
  cursor: pointer
}


/* adding members */
.container-add-members {
  background-color: white;
  border: 1px solid gainsboro;
  overflow: auto;
  max-height: 200px;
  width: 305px;
  border-radius: .75em;
  box-shadow: 0 3px 7px rgba(33,33,33,.2);
  position: absolute;
  z-index: 1;
  left: 4.5em;
}

.search-profile-pics {
  height: 38px;
  width: 38px;
  border-radius: .75em;
}

.single-search-names-container {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color .5s;
  width: 270px;
}


/* .single-search-names-container:hover {
  background-color: lightgray;
} */

.search-names-text {
  text-align: left;
  width: 170px;
}

.add-members-btn {
  text-align: right;
  background-color: transparent;
  border: none;
  border-radius: .5em;
  font-size: 25px;
  transition: .3s;
}

.add-members-btn:hover {
  background-color: gainsboro;
  cursor: pointer;
}


/* already added members */
.added-members-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: auto;
  max-height: 125px;
  width: 430px;
  margin-left: -34px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.single-member-container {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 190px;
  height: 45px;
  background-color: white;
  border: gainsboro 1px solid;
  border-radius: .75em;
  margin-top: 5px;
  transition: .3s;
}

.single-member-container:hover {
  background-color: rgb(224, 224, 224);
}


.added-members-names {
  width: 100px;
}

.remove-one-member-btn {
  background-color: white;
  color: black;
  border: none;
  font-size: 20px;
  width: 25px;
  align-items: center;
  border-radius: .75em;
  transition: 0;
  margin-right: 2px;
}

.remove-one-member-btn:hover {
  cursor: pointer;
}

.create__channel--textarea {
  resize: none;
}
