.message__input--container {
  border: 2px #dedede solid;
  background-color: white;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  width: 79%;
  margin-left: 2em;
  margin-right: 2em;
  position: relative;
  /* height: 110px; */
  margin-left: -10px;
}

.message__input {
  font-size: 1em;
  display: flex;
  overflow: hidden;
  outline: none;
  border: 1px ;
  border-radius: 1em;
  resize: none;
  width: 15em;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 1em;
  width: 90%;
}

.message__input:focus {
  outline: none;
}

.message__form {
  width: 100%;
  /* height: 90%; */
  display: flex;
}

.message__input--btn {
  display: flex;
  align-items: center;
  padding: .5em 1em;
  border-radius: .5em;
  border: 1px solid #898989;
  margin: .5em;
  position: absolute;
  right: 3em;
  bottom: 1em;
}

.message__input--btn-active {
  color: white;
  font-weight: bold;
  border: 1px solid #157500;;
  background-color: #157500;
  transition: 0.2s;
}



.message__error {
  align-self: center;
  background-color: rgba(245, 83, 83, .2);
  padding: .5em;
  max-width: 24em;
  border-radius: .5em;
  z-index: 2;
  margin: .5em 0;
}
