.message__input--container {
  border: 1px #a7a7a7 solid;
  background-color: white;
  box-shadow: 0 3px 7px rgba(33,33,33,.2);
  border-radius: 1em;
  display: grid;
  grid-template-columns: 90% 10%;
  padding: 1.5em;
  margin: 0 2em 2em 2em;
  position: relative;
}

.message__input {
  font-size: 1em;
  display: flex;
  overflow: hidden;
  outline: none;
  border: 1px ;
  border-radius: 1em;
  resize: none;
}

.message__input:focus {
  outline: none;
}

.message__form {
  display: flex;
}

.message__button-container {
  position: absolute;
  margin: .5em;
  right: 3em;
  bottom: 1em;
}

.top__buttons {
  display: flex;
  align-items: center;
  margin: .5em;
  justify-content: space-evenly;
}

.message__input--btn {
  display: flex;
  align-items: center;
  padding: .5em 1em;
  border-radius: .5em;
  border: 1px solid #898989;
}

.message__input--btn-active {
  color: white;
  font-weight: bold;
  border: 1px solid #157500;;
  background-color: #157500;
  transition: 0.2s;
  cursor: pointer;
}

.message__error {
  align-self: center;
  background-color: rgba(245, 83, 83, .2);
  padding: .5em;
  max-width: 24em;
  border-radius: .5em;
  z-index: 2;
  margin: .5em 0;
}

/* add image button */
.add-img-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 0;
}

.choose-image {
  display: flex;
  font-size: 25px;
  justify-content: center;
  color: black;
  transition: .5s;
  margin-left: 10px;
  cursor: pointer;
}


.plus-sign {
  font-family: 'Times New Roman', Times, serif;
  border-radius: .15em;
  width: 1.25em;
  height:  1.25em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear__input {
  border-radius: .25em;
  padding: .15em;
  transition: 0.2s;
  cursor: pointer;
}

.clear__input:hover {
  background-color: rgb(235, 235, 235);
}

.plus-sign:hover {
  background-color: rgb(235, 235, 235);
}

.iconify {
  font-size: 20px;
  color: green;
}

.loading {
  margin-top: 5px;
  font-style: italic;
  font-weight: bold;
  color: #898989;
}

.selected-img {
  display: flex;
  align-items: center;
  color: gray;
  font-weight: 600;
  font-size: .85em;
  margin: .15em;
  font-style: italic;
}

.selected-img > span {
  margin-left: .25em;
}