.message__input--container {
  border: 2px #dedede solid;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-left: 2em;
  margin-right: 2em;
  height: 100%;
}

.message__input {
  outline: none;
  border: 1px ;
  border-radius: 1em;
  height: 100%;
  width: 15em;
  padding-top: 4em;
  padding-bottom: 4em;
  padding-left: 1em;
  width: 90%;
}

.message__input:focus {
  outline: none;
}

.message__form {
  width: 100%;
}