.chatbox__header {
  padding-bottom: 4em;
  background-color: white;
  z-index: 3;
  height: 7em;
  display: flex;
  align-items: center;
}
.chatbox__header--text {
  padding-top: .75em;
  padding-left: .75em;
}
.chatbox__header--text-container {
  padding: 1em;
}

.chatbox__header--icon-container {
  margin-top: 1em;
}

.chatbox__input {
  position: fixed;
  bottom: 2em;
  z-index: 2;
  width: 100%;
}

.chatbox__messages {
  /* border-bottom: 1px #dedede solid; */
  border-top: 1px #dedede solid;
  position: fixed;
  top: 6.5em;
  max-height: 70%;
  min-width: 75%;
  overflow-y: scroll;
  z-index: 1;
}

.chatbox__messages--list {

}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}