.chatbox__header {
  background-color: white;
  z-index: 3;
  display: flex;
  align-items: center;
}

.chatbox__header--text {
}

.chatbox__header--text-container {
  padding: 1em;
}

.chatbox__header--buttons-container {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 6em;
}

.h2__edit {
  position: absolute;
  right: 0;
  margin: 0.25em;
  bottom: -1em;
}

.h2__delete {
  position: absolute;
  margin: 0.25em;
  bottom: -1em;
}

.chatbox__header--buttons {
  background-color: transparent;
  border: transparent;
  padding: 0.25em 0.45em;
  border-radius: 0.25em;
  transition: 0.2s;
}

.chatbox__header--buttons:hover {
  background-color: #eeeeee;
  border: transparent;
}

.chatbox__header--buttons::before {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.material-symbols-outlined {
  background-color: transparent;
}

.chatbox__input {
  position: fixed;
  background-color: white;
  bottom: 2em;
  z-index: 2;
  width: 100%;
}

.chatbox__messages {
  border-top: 1px #dedede solid;
  position: fixed;
  min-width: 80%;
  max-height: 76%;
  overflow-y: scroll;
  z-index: 1;
}

.chatbox__typing {
  font-weight: bold;
  margin: 0 0 .5em 3em;
  color: #444444;
}
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

@media screen and (min-width: 1600px) {
  .chatbox__messages {
    min-width: 83%;
  }
}

@media screen and (max-height: 800px) {
  .chatbox__messages {
    max-height: 70%;
  }
}

@media screen and (max-height: 300px) {
  .chatbox__messages {
    max-height: 25%;
  }
}
