
.chatbox {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.chatbox__header {
  background-color: white;
  z-index: 3;
  display: flex;
  align-items: center;
  border-bottom: #dbdbdb 1px solid;
}


.chatbox__header--text-container-icons {
  display: flex;
  align-items: center;
  cursor: default;
}

.chatbox__header--text-container {
  padding: 1em;
}

.chatbox__header--buttons-container {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 6em;
}

.h2__edit {
  position: absolute;
  right: 0;
  margin: .25em;
  bottom: -1em;
}

.h2__delete {
  position: absolute;
  margin: .25em;
  bottom: -1em;
}

.chatbox__header--buttons {
  background-color: transparent;
  border: transparent;
  padding: .25em .45em;
  border-radius: .25em;
  transition: 0.2s;
}

.chatbox__header--buttons:hover {
  background-color: #EEEEEE;
  border: transparent;
}

.chatbox__header--buttons::before {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.material-symbols-outlined {
  background-color: transparent;
}

.date__container {
  position: sticky;
  top: 3em;
  z-index: 5;
}

.one-message {
  position: relative;
}

.date__line {
  border-bottom: rgb(209, 209, 209) 1px solid;
  position: absolute;
  width: 100%;
  top: -2em
}

.date__string-container{
  margin: 2em 0;
  display: flex;
  justify-content: center;
  position: relative;
}

.date__string {
  padding: .5em;
  text-align: center;
  font-size: .75em;
  min-width: 13em;
  min-height: 2.5em;
  font-weight: 600;
  color: rgb(59, 59, 59);
  border:rgb(184, 184, 184) solid .75px;
  /* box-shadow: 0 3px 7px rgba(33,33,33,.2); */
  border-radius: 2em;
  position: absolute;
  top: -1.2em;
  background-color: white;
}

.chatbox__input {
  margin-top: auto;
  background-color: white;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

.chatbox__messages {
  /* max-height: 76%; */
  overflow-x: hidden;
  z-index: 1;
}

.chatbox__typing {
  font-weight: bold;
  margin: 0 0 .5em;
  color: #444444;
  position: absolute;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

/* @media screen and ( max-height: 500px ){
  .chatbox__messages {
    max-height: 55%;
  }
}

@media screen and ( max-height: 700px ){
  .chatbox__messages {
    max-height: 66%;
  }
} */
/*
@media screen and ( max-width: 1600px ){
  .chatbox__messages {
    width: 80%;
  }
} */
