.one-dm {
  font-size: 15px;
  position: relative;
}

.dms__list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-evenly;
}

.dms__list-item--icon-name {
  padding-left: 1em;

}

.dms__list-item:hover {
  background-color: #FFEE40;
  text-shadow: 1px 0 0 currentColor;
}

.dms__list-item--icon-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* width: 85%; */
}

.dms__link {
  width: 100%;
}
