.one-dm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  transition: 0.2s;
  width: 100%;
  position: relative;
}

.one-dm:hover {
  background-color: #FFEE40;
  font-weight: bold;
}

.dms__list-item--icon-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 85%;
}

.dms__list-item {
  width: 100%;
}

.one-dm {
  font-size: 15px;
  font-family: sans-serif;
}
