.input__inactive {
  background-color: white;
  border: none;
  width: 100%;
  padding: 1em;
  transition: 0.2s;

}

.input__active {
  background-color: white;
  border: 2px #dedede solid;
  border-radius: 1em;
  width: 100%;
  padding: 1em;
  transition: 0.2s;
}

.message__container:hover .input__inactive{
  background-color: #f7f7f7;
}

.message__container:hover {
  background-color: #f7f7f7;
}

.message__container {
  width: 100%;
  padding: 1em;
  padding-left: 2em;
  transition: 0.2s;
}

.message__container--edit {
  background-color: #fff4cf;
  width: 100%;
  padding: 1em;
}

.message__icon--name {
  display: flex;
  align-items: flex-start;
}

.message__user--name {
  font-weight: bold;
  margin-top: .5em;
}