.input__inactive {
  background-color: white;
  border: none;
  width: 100%;
  padding: 1em;
  font-size: 15px;
  transition: 0.2s;
  color: black;
  resize: none;
  overflow: hidden;
  display: flex;
  margin-left: 45px;
  margin-top: -32px;
}

.input__active {
  background-color: white;
  border: none;
  font-size: 1em;
  border-radius: 1em;
  min-height: 5em;
  width: 100%;
  padding: 1em;
  resize: none;
  transition: 0.2s;
  overflow: hidden;
}

.message__textarea--container {
  border: #DFDFDF 1px solid;
  display:flex;
  border-radius: 1em;
  padding-bottom: 2.5em;
  background-color: white;
  box-shadow: 0 3px 7px rgba(33,33,33,.2);
}


.message__container:hover .input__inactive{
  background-color: #f7f7f7;
}

.message__container:hover {
  background-color: #f7f7f7;
}

.message__container {
  width: 100%;
  padding: 1em;
  padding-left: 2em;
  transition: 0.2s;
  position: relative;
  overflow: visible;
}

.message__container--edit {
  background-color: #fff4cf;
  width: 100%;
  position: relative;
  padding: 1em;
}

.message__icon--name {
  display: flex;
  align-items: flex-start;
}

.message__user--name {
  font-weight: bold;
  margin-top: .15em;
}

.message__user--time {
  font-size: .75em;
  margin-top: .35em;
  margin-left: 1em;
  color: #898989;
}

.message__tools--container {
  border: #898989 1px solid;
  position: absolute;
  background-color: white;
  top: 1.2em;
  right: 5em;
  width: 10em;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 3px 7px rgba(33,33,33,.2);
  padding: .1em 1em;
  border-radius: .5em;
}

.message__tools-btn {
  background-color: transparent;
  border-radius: .5em;
  border: none;
  padding: .5em;
  transition: 0.2s;
}

.message__tools-btn:hover {
  background-color: #DADADA;
  cursor: pointer;
}

.message__tools--tool-icons {
  font-size: 1.5em;
}

.message__edit--btn {
  padding: .5em 1em;
  border-radius: .5em;
  border: 1px solid #898989;
  margin: .5em;
}

.message__edit--btn-save {
  color: white;
  font-weight: bold;
  border: 1px solid #157500;;
  background-color: #157500;
  transition: 0.2s;
}
.btn__disabled {
  color: rgb(231, 231, 231);
  border: 1px solid #CBCBCB;
  font-weight: bold;
  background-color: #CBCBCB;
}

.message__edit--btn-save:hover {
  background-color: #1A9200;
  cursor: pointer;
}

.message__edit--btn-cancel {
  color: black;
  font-weight: bold;
  border: 1px solid #898989;
  background-color: transparent;
  transition: 0.2s;
}

.message__edit--btn-cancel:hover {
  background-color: #CBCBCB;
  cursor: pointer;
}

.message__edits--container {
  position: absolute;
  bottom: 1em;
  right: 3em;
}
